/* Tela inicial - dashboard */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf');
}

body {
    font-family: 'OpenSans';
    margin: 0em;
}

.container {
    display: flex;
}

.container a {
    text-decoration: none;
}

.container .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 20px;
    display: block;
}

.container .sidebar input {
    width: 150px;
    border: 1px solid #bbbbbb;
    padding: 5px;
}

.container .sidebar button {
    border: 1px solid #bbbbbb;
    padding: 5px;
    margin-left: -5px;
}

.container .sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.container .sidebar li {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}

.container .sidebar li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.container .sidebar li a:hover {
    background-color: #e9ecef;
}

.container .sidebar span {
    margin-right: 5px;
}

.content {
    flex: 1;
    padding: 20px;
}

.cards-container {
    display: flex;
    gap: 10px;
}

.cards-container a {
    color: white;
}

.card {
    width: 250px;
    height: 130px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-header h3 {
    display: flex;
    align-items: center;
}

.card-header h3 {
    margin: 0;
}

.card-header span {
    margin-right: 5px;
}

.card-body {
    text-align: center;
}

.card-body a {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}

.card-body h2 {
    margin-bottom: 20px;
}

.card-body p {
    margin-bottom: 0;
}

.notifications {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification:last-child {
    border-bottom: none;
}

.blue {
    background-color: #0044ff;
}

.blue a {
    color: #0044ff;
}

.green {
    background-color: #339c62;
}

.green a {
    color: #339c62;
}

.yellow {
    background-color: #dfc904;
}

.yellow a {
    color: #dfc904;
}